.darkBg{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.changePic{
    background-color: #fff;
    border-radius:20px;
    color:black;
}
.changePic div{
    padding:10px 20px;
}

.upload-btn1{
    cursor:pointer;
    width:100%;
    background-color: none;
    border: none;
    font-weight: bolder;
    font-size: 15px;
}
